@media screen and  (max-width: 1022px) /*and (max-height: 642px)*/ {
    .navbar{
        position: relative;
    }
    
    
    .logo{
        margin: 0;
        text-align: center;
    }
    .header{
        padding-top: 50px;
    }
    .headline{
        flex: 100%;
        margin: 5%;
        
        
    }
    .headline p {
        margin-left: 30px;
        text-align: justify;
        
    }
    .img-headline{
        flex:100%;
        margin: 5%;
        text-align: center;
    }
    .card{
        width: 100%;
    }
}
@media screen and  (max-width: 933px) /*and (max-height: 642px)*/ {
    .navbar{
        position: relative;
    }
    
    .menu{
        display: none;
    }
    .logo{
        margin: 0;
        text-align: center;
    }
    .header{
        padding-top: 50px;
    }
    .headline{
        flex: 100%;
        margin: 5%;
        text-align: center;
    }
    .headline p {
        text-align: justify;
    }
    .img-headline{
        flex:100%;
        margin: 5%;
        text-align: center;
    }
    .card{
        width: 100%;
    }
    .contact-item {
        display: flex; /* Permite que a imagem e o link sejam flexíveis */
        align-items: center; /* Alinha imagem e texto verticalmente */
        margin:  50px; /* Espaçamento horizontal entre os ícones */
        cursor: pointer; /* Altera o cursor ao passar sobre o ícone */
    }
}

@media screen and  (max-width: 400px) /*and (max-height: 642px)*/ {
    .navbar{
        position: relative;
    }
    
    .menu{
        display: none;
    }
    .logo{
        margin: 0;
        text-align: center;
    }
    .header{
        padding-top: 50px;
    }
    .headline{
        flex: 100%;
        margin: 5%;
        text-align: center;
    }
    .headline p {
        text-align: justify;
        margin-left: 50px;
    }
    .img-headline{
        display: none;

    }
    .card{
        width: 100%;
    }
    .contact-item {
        display: flex; /* Permite que a imagem e o link sejam flexíveis */
        align-items: center; /* Alinha imagem e texto verticalmente */
        margin: 0 10%; /* Espaçamento horizontal entre os ícones */
        cursor: pointer; /* Altera o cursor ao passar sobre o ícone */
    }
    .contact-item{
        margin: 15px;
    }
}







